.tab {
  font-size: 1.1em;
  margin-right: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
}

.tab:hover {
  font-size: 1.2em;
}

.tab.active {
  color: var(--primary);
  text-decoration: underline;
}

.tab.active:hover {
  font-size: 1.1em;
}
